:root
{
  /* --darkGreen1: #045149; 
  --darkGreen2: #003a37; 
  
  --green1: #21664d; 
  --green2: #15543c; 

  --turquoise1: #bfdbdd; 
  --turquoise2: #9ec5c6; 

  --peach1: #f2f0e4; 
  --peach2: #e2dfd5; 

  --purple1: #e6eaef; 
  --purple2: #dae0e5; 

  --white: #ffffff;  */




  /* --white: #FFFFFF; 
  --black: #000000; 
  --lightBlue: #E2F0F9; 
  --turquoise: #B0DDE4; 
  --blue: #286FB4; 
  --red: #DF4C73;  */



  --yellow: #e3b712; 
  --bg: #323437; 
  --panel: #2d2e30; 
  --gray: #646669; 
  --text: #d1d0c5; 
  --red: #c74653; 





  /* --black1: #212121; 
  --black2: #0c0c0c; 

  --darkBlue1: #00447c; 
  --darkBlue2: #002756; 

  --lightBlue1: #0b7b9e; 
  --lightBlue2: #035b7a; 

  --peach1: #dddace; 
  --peach2: #c6c3b6; 

  --white1: #f2f3f4; 
  --white2: #eaeaea;  */
}