@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
}

p
{
  font-family: 'Source Code Pro', monospace;
  color: var(--text);
  font-size: 22px;
}

a
{
  font-family: 'Source Code Pro', monospace;
  color: var(--yellow);
  font-size: 22px;
}

button
{
  border: 0;
  box-shadow: none;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 17px;
  margin: 5px;
  background-color: var(--panel);
  color: var(--text);
  transition: 0.2s;
}

button:hover
{
  background-color: var(--yellow);
  color: var(--panel);
}

input
{
  background-color: var(--panel);
  border: 0;
  box-shadow: none;
  width: 200px;
  height: 40px;
  outline: none;
  color: var(--text);
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  display: block;
}

input::placeholder
{
  color: var(--gray);
}

input:-webkit-autofill
{
  -webkit-text-fill-color: var(--text) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--panel) inset !important;
  -webkit-background-clip: text;
}

select {
  background-color: var(--panel);
  border: 0;
  box-shadow: none;
  width: 200px;
  height: 40px;
  outline: none;
  color: var(--text);
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 40px; /* Add padding to the right for the arrow */
  border-radius: 10px;
  display: block;
}

select::placeholder {
  color: var(--gray);
}

select option 
{
  background-color: var(--panel);
  color: var(--text);
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
}



/* body {
  background-color: #ffffff;
  margin: 40px;
}

body * {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
body button:hover {
  background-color: #cccccc;
} */
